<div data-ng-controller="MainCtrl" data-ng-init="init()">
  <div class="devices">
    Available devices:
    <ul>
      <li ng-repeat="device in devices" ng-click="updateDevice(device.id)" ng-class="{active: device.id == currentDeviceInfo.id}">
        <a href="javascript:;">{{device.name}}</a>
      </li>
    </ul>
  </div>

  <div class="conditions">
    <div class="connected" ng-if="currentDevice.connected">Connected</div>
    <div class="disconnected" ng-if="!currentDevice.connected">Disconnected</div>
  </div>

  <div class="card-content">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-lg-4">
        <div class="card">
          <h3>Last Communication</h3>
          <div class="large">{{device.lastHeard.time}}</div>
          <div class="minor">{{device.lastHeard.date}}</div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-lg-4">
        <div class="card">
          <h3>Status</h3>
          <div class="large">{{device.status}}</div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-lg-4">
        <div class="card">
          <h3>Last IP Address</h3>
          <div class="large">{{device.lastIpAddress}}</div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-lg-4">
        <div class="card">
          <h3>Variable: {{device.varName}}</h3>
          <div class="large">{{device.varResult}}</div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-lg-4" ng-repeat="funcName in device.funcNames">
        <div class="card" ng-controller="MainCtrl">
          <h3>{{funcName}}</h3>
          <form ng-submit="submitFunc(funcName)">
            <input type="text" ng-model="text" name="text" />
            <input type="submit" id="submit" value="Submit" />
          </form>
          {{currentDeviceInfo.functions[funcName]}}
        </div>
      </div>
    </div>
  </div>
</div>
